<body style="background-color: cornsilk">
<h1 style="float: right">Welcome <%= current_user.first_name %> <%= current_user.last_name %>  </h1>
<h4 style="color: cyan" >current sign in IP : <%= current_user.current_sign_in_ip %></h4>
</body>